/*navbar*/
#navbar-cronometer{
	float: right;
	margin-top: 1em;
}
.glyphicon-earphone:before {
  margin-right: 1em;
}
.app-container{
	background-color: #E7E7E7;
}
.left-form-container{

}
.rigth-form-container{

}
textarea.form-control {
    height: 8.6em;
}
#formControlsSelect{
	width: 90%;
}
.multiple-fields{
	height: 12em !important;
}
#bottom-rigth-form{

}
.bottom-btn{
	width: 100%;
}
